body {
	color: #feda4a;
	margin: 0;
	background-color: black;
}

.select-wrapper {
	max-width: 50rem;
	margin: auto;
}

.card-body {
	color: black;
}

.refresh-btn {
	background-color: #1e90ff;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.refresh-btn:hover {
	background-color: hsl(356, 77%, 47%);
}

.star {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: white;
}
