
  /*refresh button*/
  .select-wrapper {
    max-width: 18rem;
    margin: auto;
  }

  .refresh-btn {
    background-color: #1e90ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .refresh-btn:hover {background-color: #d41b27;}

/* background here */
body {
  color: #feda4a;
  margin: 0;
  background-color: black;
}

.card-body {
  color: black;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

